<div class="header" ngDraggable="true">

  <nav class="menu">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
    <label class="menu-open-button" for="menu-open">
      <span class="hamburger hamburger-1"></span>
      <span class="hamburger hamburger-2"></span>
      <span class="hamburger hamburger-3"></span>
    </label>
    <a  class="menu-item lol"> <i class="fa fa-home"></i> </a>
    <a (click)="showCamera()" class="menu-item"> <i class="fa fa-home"></i> </a>
    <a (click)="showUpload()" class="menu-item"> <i class="fa fa-upload"></i> </a>


  </nav>

</div>
