.product-thumbnail {
  padding-left: 10px;
  padding-right: 10%;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.postioning {
  display: flex;
  flex-wrap: wrap;
}

.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 30px;
  width: 0;
  height: 0;
  border: 20px solid #02A8F3;
  border-radius: 20px;
  z-index: 100;
}

.center {
  position: absolute;
  top: -11px;
  bottom: 0;
  right: -10px;
  margin: auto;
  color: white;
}

.filters-wrapper {
  position: relative;
  z-index: 90000;
}

.wrapper {
  max-width: 240px;
  max-height: 240px;
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
}

@media only screen and (min-width: 690px)
{
  .product-thumbnail {
    padding-left: 100px;
    padding-right: 10%;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .postioning {
    display: flex;
    flex-wrap: nowrap;
  }
}
