#camera {
  transform: scaleX(-1);
}

.fluid {
  margin-bottom: 20px;
  width: 100%;
}

.ui-fluid {
  padding: 10%;
}

.videoSize {
  height: 450px;
  width: 100%;
  padding: 10%;
}

.button {
  background-color: #02A8F3;
  font-size: 1rem !important;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

.hideImage {
  display: none;
  width: 300px;
  height: 450px;
}

.showImage {
  display: block;
  width: 300px;
  height: 450px;
}

.button-proceed {
  display: flex;
  flex-wrap: nowrap;
}

.loaderStyle {
  color: white;
  background-color: white;
}
