<div class="ui container">
  <h2 class="ui center aligned icon header">
    <img class="ui image" src="./assets/img/electron_icon.png">
    <div class="content">
      {{title}}
      <div class="sub header">{{subTitle}}</div>
    </div>
  </h2>
  <video #camera class="ui fluid videoSize" autoplay></video>
  <canvas #myCanvas class="ui-fluid" [style.display]="getStyle"></canvas>
  <button id="btn_photo" class="ui fluid button" (click)="takePhoto()" *ngIf='showPicture'>
    <i class="icon photo"></i>
    Take a Photo!
  </button>
</div>

